<ion-view title="GK Buddy" id="page1">
	<ion-content padding="true" scroll="false" class="has-header">
		<ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1"
			id="gKBuddy-slider1" style="width:100%;height:100%;">
			<ion-slide-page id="gKBuddy-slide24"
				style="background:url(&quot;img/avfsZwJT9WGsBj982ul1_kitten1.jpg&quot;) no-repeat center;background-size:cover;">
				<div id="gKBuddy-container2">
					<div>
						<style>
							svg {
								-webkit-transform: rotate(-90deg);
								transform: rotate(-90deg);
							}

							.circle_animation {
								stroke-dasharray: 440;
								/* this value is the pixel circumference of the circle */
								stroke-dashoffset: 440;
							}

							.html .circle_animation {
								-webkit-animation: html 1s ease-out forwards;
								animation: html 1s ease-out forwards;
							}

							.css .circle_animation {
								-webkit-animation: css 1s ease-out forwards;
								animation: css 1s ease-out forwards;
							}

							@-webkit-keyframes html {
								to {
									stroke-dashoffset: 80;
									/* 50% would be 220 (half the initial value specified above) */
								}
							}

							@keyframes html {
								to {
									stroke-dashoffset: 80;
								}
							}

							@-webkit-keyframes css {
								to {
									stroke-dashoffset: 160;
								}
							}

							@keyframes css {
								to {
									stroke-dashoffset: 160;
								}
							}

							/* Flip animation */ 

							/* entire container, keeps perspective */
							.flip-container {
								perspective: 1000px;
							}

							/* flip the pane when hovered */
							.flip-container:hover .flipper,
							.flip-container.hover .flipper {
								transform: rotateY(180deg);
							}

							.flip-container,
							.front,
							.back {
								width: 100%;
								height: 240px;
							}

							/* flip speed goes here */
							.flipper {
								transition: 0.6s;
								transform-style: preserve-3d;

								position: relative;
							}

							/* hide back of pane during swap */
							.front,
							.back {
								backface-visibility: hidden;

								position: absolute;
								top: 0;
								left: 0;
							}

							/* front pane, placed above back */
							.front {
								z-index: 2;
								/* for firefox 31 */
								transform: rotateY(0deg);
							}

							/* back, initially hidden pane */
							.back {
								transform: rotateY(180deg);
							}

							/* Bar chart  */
						</style>

						<div align="center">
							<h1>Hegnet</h1>
						</div>

						<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
							<div class="flipper">
								<div class="front">
									<div class="item html" align="center">
										<svg width="160" height="160" xmlns="http://www.w3.org/2000/svg">
											<g>
												<circle class="circle_animation" r="69.85699" cy="81" cx="81"
													stroke-width="8" stroke="#6fdb6f" fill="none"></circle>
											</g>
										</svg>
									</div>
								</div>
								<div class="back">

									<div class="charts charts--vertical">
										<div class="charts__chart" data-percent="50%"></div>
										<div class="charts__chart" data-percent="60%"></div>
										<div class="charts__chart" data-percent="70%"></div>
										<div class="charts__chart" data-percent="80%"></div>
										<div class="charts__chart" data-percent="90%"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="spacer" style="width: 300px; height: 16.6px;"></div>
				<div id="gKBuddy-container5">
					<div>


						<link rel="stylesheet"
							href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



						<div align="center">
							<i class="fa fa-users" style="font-size:36px"></i>
						</div>

						<br>



					</div>
					<div>
						<style>
							.counter {
								width: 0.6em;
								height: 1em;
								overflow: hidden;
								line-height: 1em;
								display: inline-block;
							}

							span {
								position: relative;
							}

							.animate {
								-webkit-animation: spinit 0.2s 5;
								-moz-animation: spinit 0.2s 5;
								animation: spinit 0.2s 5;
							}

							@-webkit-keyframes spinit {
								0% {
									top: 0em;
								}

								50% {
									top: -5em;
								}

								100% {
									top: -9em;
								}
							}

							@-moz-keyframes spinit {
								0% {
									top: 0em;
								}

								50% {
									top: -5em;
								}

								100% {
									top: -9em;
								}
							}

							@keyframes spinit {
								0% {
									top: 0em;
								}

								50% {
									top: -5em;
								}

								100% {
									top: -9em;
								}
							}

							/* Setting the required value to top will make the spinner end at that number */

							#digit1 {
								top: 0em;
								/* -4em means 5 will be the number */
							}

							#digit2 {
								top: -2em;
							}

							#digit3 {
								top: 0em;
							}
						</style>

						<div align="center">
							<div class="counter">
								<span class="animate" id="digit1">1 2 3 4 5 6 7 8 9 0</span>
							</div>
							<div class="counter">
								<span class="animate" id="digit2">1 2 3 4 5 6 7 8 9 0</span>
							</div>
							<div class="counter">
								<span class="animate" id="digit3">1 2 3 4 5 6 7 8 9 0</span>
							</div>
						</div>
					</div>
				</div>
				<a ui-sref="menuOfTheDay()" id="gKBuddy-button1" class="button button-positive button-block">Menu</a>
			</ion-slide-page>
		</ion-slides>
	</ion-content>
</ion-view>